/* Homepage.css */
.navbar-brand:hover {
    color: #ff5733; /* Change the color on hover */
  }
  
  .nav-link:hover {
    color: #007bff; /* Change the color on hover */
  }
  
  .nav-link {
    transition: color 0.3s; /* Add a smooth color transition */
  }
  
  .text-bold {
    font-weight: bold;
    cursor: pointer; /* Add a pointer cursor for interactivity */
  }
  
  .text-bold:hover {
    text-decoration: underline; /* Underline text on hover */
  }
  